*{box-sizing: border-box; }

header {font-size:30px;
	text-align: center;
	padding: 1em 0;
	background-color: #AFEEEE;
	
}

h1 {margin: 0;
    color: #004040;
    font-size: 3em;
    text-align: center;
	
}

nav {font-size: 1.5em;
     text-align: center;
     background-color: #E0FFFF;
     padding: 0.5em 0;
     border-top: 2px solid #004040; 
     
     
}


nav a{
  text-decoration: none;
  font-weight: bold;
  color: #004040;
  display: inline-block;
  margin: 0 0.5em;
}

nav a:hover {color:##009999;
	text-decoration:underline;
} 
nav a:focus { outline: 3px solid #FFA500;
	outline offset: 2px;
}

footer {clear: both;
	font-style: italic;
	background-color: #AFEEEE; 
	padding-top: 1em; 
	padding: 1em;
	border-top: 2px solid #004040;
}



#wrapper {background-color: #FFFFFF;
	margin: 0 auto;
	width: 90%;         
  	max-width: 1200px;         
  	 
}            
  	

#content {font-size: 1.2em;
	line-height: 1.6;
	  color: #003366;
             
}

#left {float: left; 
       width: 65%; 
       padding-right: 2em;             
}

#right {float: right;                
        width: 30%;             
}

#right img {display: block;
            padding-top: 2em;
            margin-bottom: 1em;
            width: 100%;
            height: auto;
}

form {display: flex;
      flex-direction: column;
      padding-left: 1em;
      width: 80%
    }

 input, textarea {margin-bottom: .5em;
}

.submit-button {width: 150px;
                background-color: #004040;
                color: white;
                font-weight: bold;
                border: none;
                padding: .5em;
                cursor: pointer;
}
   

@media (max-width: 900px) {
  #left, #right {
    width: 100%;
    float: none;
    padding: 0;
  }

  #right img {
    width: 80%;
    margin: 1em auto;
  }

  nav {
    font-size: 1.2em;
  }

  #content {
    font-size: 1.1em;
  }
}

/* Phones (screen width 600px or less) */
@media (max-width: 600px) {
  body {
    font-size: 16px;
  }

  header {
    font-size: 1.5em;
    padding: 0.5em 0;
  }

  h1 {
    font-size: 2em;
  }

  nav a {
    display: block;
    margin: 0.3em 0;
  }

  nav {
    padding: 1em 0;
  }

  #right img {
    width: 100%;
  }

  footer {
    font-size: 0.9em;
    text-align: center;
  }
}
